*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    color: green;
}

.main{
    display: flex;
    width: 1600px;
}
.img{
    margin: 20px;
}
.text{
    background: black;
    color: green;
    margin: 20px;
    padding: 20px;
    width: 1000px;
    height: 400px;
}
h2{
    font-size: 32px;
}
p{
    border: 1px solid green;
    font-size: 24px;
    padding: 5px;
}